<a href="https://colab.research.google.com/github/oreushka/SIA_lab1.1/blob/main/Month1_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 0 (1 балл)

Данные, которые нужно использовать для выполнения задания, возьмите [здесь](https://www.kaggle.com/parulpandey/palmer-archipelago-antarctica-penguin-data).

Данные расположены в двух таблицах: **penguins_iter** и **penguiuns_size**. Для этой лабораторной работы вам понадобится только таблица **penguiuns_size**.

**penguins_size** содержит следующую информацию:
* `species`: вид, к которому относится пингвин
* `culmen_length_mm`: длина клюва
* `culmen_depth_mm`: глубина клюва
* `flipper_length_mm`: длина ласт
* `body_mass_g`: масса тела
* `island`: название острова, на котором пингвин обитает
* `sex`: пол пингвина

1. Загрузите файл с данными к себе на Гугл диск и подключите его в Google Colab через `mount.drive`.
2. Выведите общую статистику по всем числовым и нечисловым столбцам с помощью функции `describe()`.
3. Узнайте размеры датасета с помощью функции `shape`.
4. Выведите 4 первые строки датасета.

In [ ]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')
penguins = pd.read_csv("/content/drive/MyDrive/penguins_size.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
penguins.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [ ]:
print(penguins.shape)

(344, 7)

In [ ]:
penguins.head(4)

  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1  ...              181.0       3750.0    MALE
1  Adelie  Torgersen              39.5  ...              186.0       3800.0  FEMALE
2  Adelie  Torgersen              40.3  ...              195.0       3250.0  FEMALE
3  Adelie  Torgersen               NaN  ...                NaN          NaN     NaN

[4 rows x 7 columns]

# Задание 1 (1 балл)

1. Узнайте, сколько видов пингвинов представлено в таблице.
2. Посчитайте долю пингвинов каждого вида.

In [ ]:
penguins.species.nunique()

3

In [ ]:
penguins.species[penguins.species == "Adelie"].count() / len(penguins)

0.4418604651162791

In [ ]:
penguins.species[penguins.species == "Chinstrap"].count() / len(penguins)

0.19767441860465115

In [ ]:
penguins.species[penguins.species == "Gentoo"].count() / len(penguins)

0.36046511627906974

# Задание 2 (1 балл)

1. Сколько островов, на которых обитают пингвины, представлено в таблице?
2. Выведите количество пингвинов, обитающих на каждом из островов.

In [ ]:
penguins.island.nunique()

3

In [ ]:
penguins.species[penguins.island == "Torgersen"].count()

52

In [ ]:
penguins.species[penguins.island == "Biscoe"].count()

168

In [ ]:
penguins.species[penguins.island == "Dream"].count()

124

# Задание 3 (1 балл)

1. Найдите id пингвина с самым длинным клювом и с самым коротким. Выведите всю информацию о каждом из этих пингвинов в виде таблицы.
2. Посчитайте, насколько самый длинный клюв длиннее самого короткого.

In [ ]:
penguins[penguins.culmen_length_mm == penguins.culmen_length_mm.max()]

    species  island  culmen_length_mm  ...  flipper_length_mm  body_mass_g   sex
253  Gentoo  Biscoe              59.6  ...              230.0       6050.0  MALE

[1 rows x 7 columns]

In [ ]:
penguins[penguins.culmen_length_mm == penguins.culmen_length_mm.min()]

    species island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
142  Adelie  Dream              32.1  ...              188.0       3050.0  FEMALE

[1 rows x 7 columns]

In [ ]:
penguins.culmen_length_mm.max() - penguins.culmen_length_mm.min()

27.5

# Задание 4 (1.5 балла)

1. Найдите среднее соотношение между длиной и глубиной клюва.
2. Найдите среднее соотношение между массой тела пингвина и длиной его ласт.
3. Постройте корреляционную матрицу для значений столбцов `culmen_length_mm`, `culmen_depth_mm`, `flipper_length_mm`, `body_mass_g`.

In [ ]:
(penguins.culmen_length_mm.mean() + penguins.culmen_depth_mm.mean()) / 2

30.536549707602347

In [ ]:
(penguins.flipper_length_mm.mean() + penguins.body_mass_g.mean()) / 2

2201.3347953216376

In [ ]:
penguins.corr()

                   culmen_length_mm  ...  body_mass_g
culmen_length_mm           1.000000  ...     0.595110
culmen_depth_mm           -0.235053  ...    -0.471916
flipper_length_mm          0.656181  ...     0.871202
body_mass_g                0.595110  ...     1.000000

[4 rows x 4 columns]

# Задание 5 (1 балл)

1. О пингвинах какого вида в таблице больше всего недостающих данных? (Строк с `NaN`)
2. Какой информации о пингвинах чаще всего не хватает?

In [ ]:
df = penguins[penguins.isnull().any(1)]

if (df.species[penguins.species == "Adelie"].count() > df.species[penguins.species == "Gentoo"].count()): print("Adelie")
else: print("Gentoo")

Adelie

In [ ]:
penguins.isnull().sum(axis=0)

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

# Задание 6 (1 балл)

По данным из таблицы узнайте, как по размеру клюва, ласт и общей массе тела мужские особи отличаются от женских. Ответ по каждому признаку усредните.

In [ ]:
penguins[penguins.sex == "MALE"].mean() - penguins[penguins.sex == "FEMALE"].mean()

culmen_length_mm       3.757792
culmen_depth_mm        1.465617
flipper_length_mm      7.142316
body_mass_g          683.411797
dtype: float64

# Задание 7 (1 балл)

По данным из таблицы узнайте, равномерно ли демографиески (процент мужских и женских особей) пингвины распределены по каждому из островов.

In [ ]:
# 'Torgersen', 'Biscoe', 'Dream'
penguins[penguins.island == "Torgersen"].sex[penguins.sex == "MALE"].count() / penguins.species[penguins.island == "Torgersen"].count()

0.4423076923076923

In [ ]:
penguins[penguins.island == "Torgersen"].sex[penguins.sex == "FEMALE"].count() / penguins.species[penguins.island == "Torgersen"].count()

0.46153846153846156

In [ ]:
penguins[penguins.island == "Biscoe"].sex[penguins.sex == "MALE"].count() / penguins.species[penguins.island == "Biscoe"].count()

0.49404761904761907

In [ ]:
penguins[penguins.island == "Biscoe"].sex[penguins.sex == "FEMALE"].count() / penguins.species[penguins.island == "Biscoe"].count()

0.47619047619047616

In [ ]:
penguins[penguins.island == "Dream"].sex[penguins.sex == "MALE"].count() / penguins.species[penguins.island == "Dream"].count()

0.5

In [ ]:
penguins[penguins.island == "Dream"].sex[penguins.sex == "FEMALE"].count() / penguins.species[penguins.island == "Dream"].count()

0.49193548387096775

# Задание 8 (1.5 балла)

1. Узнайте, к какому виду принадлежат самые крупные по массе тела пингвины.
2. В каком количестве популяция этого вида представлена на каждом из островов?
3. Равное ли соотношение мужских и женских особей этого вида?

In [ ]:
penguins.nlargest(10, 'body_mass_g')

    species  island  culmen_length_mm  ...  flipper_length_mm  body_mass_g   sex
237  Gentoo  Biscoe              49.2  ...              221.0       6300.0  MALE
253  Gentoo  Biscoe              59.6  ...              230.0       6050.0  MALE
297  Gentoo  Biscoe              51.1  ...              220.0       6000.0  MALE
337  Gentoo  Biscoe              48.8  ...              222.0       6000.0  MALE
299  Gentoo  Biscoe              45.2  ...              223.0       5950.0  MALE
331  Gentoo  Biscoe              49.8  ...              229.0       5950.0  MALE
233  Gentoo  Biscoe              48.4  ...              213.0       5850.0  MALE
235  Gentoo  Biscoe              49.3  ...              217.0       5850.0  MALE
335  Gentoo  Biscoe              55.1  ...              230.0       5850.0  MALE
287  Gentoo  Biscoe              49.5  ...              229.0       5800.0  MALE

[10 rows x 7 columns]

In [ ]:
penguins[penguins.island == "Dream"].species[penguins.species == "Gentoo"].count()

0

In [ ]:
penguins[penguins.island == "Biscoe"].species[penguins.species == "Gentoo"].count()

124

In [ ]:
penguins[penguins.island == "Torgersen"].species[penguins.species == "Gentoo"].count()

0